body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

#result {
    color: white;
    text-align: center;
    font-size: 20px;
}

label {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    display: flex;
}

div {
    display: flex;
    justify-content: center; 
}

button {
    margin: 20px;
    padding: 5px;
    font-weight: 700;
    color: green;
}

img {
    height: 108px;
    border-style: solid;
    border-width: 10px;
    border-color: white;
}